extends ../layouts/default

block content
  h1 Home
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum necessitatibus debitis corrupti excepturi alias non quia iusto beatae doloremque, libero delectus. Laborum aspernatur quam, saepe suscipit accusamus officia doloremque praesentium!
  p
    a(href="/about") About
