doctype html
html
  head
    title Simple Web Site

  body
    h1 Simple Web Site
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tempora ipsa quisquam, harum odit nisi, aliquid corporis maiores id dolor dignissimos? Incidunt nihil deleniti recusandae enim dicta deserunt molestiae ipsum!
