block variables

doctype html
html(lang=en)
  head
    block title
      title Simple Web Site - #{title}
    block styles
      link(rel="stylesheet" href="/css/style.css")

    block scripts

  body
    block header
      include ../partials/header

    block content

    block footer
      include ../partials/footer
